# Имя пользователя админки
DJANGO_SUPERUSER_USERNAME=admin
# Почта для сброса пароля пользователя админки
DJANGO_SUPERUSER_EMAIL=admin@example.com
# Пароль пользователя админки
DJANGO_SUPERUSER_PASSWORD=admin
DEBUG=True
