POSTGRES_DB = # Название базы данный
POSTGRES_USER = # Имя пользователя базы данных
POSTGRES_PASSWORD = # Пароль базы данный
DJANGO_SUPERUSER_USERNAME = # Имя пользователя админки
DJANGO_SUPERUSER_EMAIL = # Почта для сброса пароля пользователя админки
DJANGO_SUPERUSER_PASSWORD = # Пароль пользователя админки