DJANGO_SUPERUSER_USERNAME='admin' # Имя пользователя админки
DJANGO_SUPERUSER_EMAIL='admin@example.com' # Почта для сброса пароля пользователя админки
DJANGO_SUPERUSER_PASSWORD='admin' # Пароль пользователя админки