<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://db.onlinewebfonts.com/c/0b5ecd0afcf95185925504cdca01f5e3?family=Druk+Wide+Cy+Web+Bold+Regular" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/lit3d/so/style.css">
    <title>Работы</title>
</head>
<body>
    <div class="forFlex">
        <div class="main">
            <header>
                <a href="#"><img src="/static/lit3d/so/image/Return.svg"></a>
            </header>
            <div class="event">
                <div class="event-date">
                    Ноябрь, 2023
                </div>
                <div class="event-title">
                    <div>Выставка Россия </div>
                    <div> Павильон Свердловской области</div>
                </div>
                <div class="event-paragraphs1">
                    <p class="event-description"> Первоначальная концепция этого стенда – это демидовский лофт, в честь Акинфия Демидова, основателя горнозаводской промышленности на Урале.</p>
                </div>
                <div class="event-paragraphs2">    
                    <p class="event-description"> Мы решили объединить две идеи – современную  
                        архитектуру лофта и интерьеры старого завода времен Демидова, 
                        создав современное, интересное пространство, насыщенное 
                        мультимедийными решениями.</p>
                </div>
            </div>
        </div>
        <div class="large_group">
            <img src="/static/lit3d/so/image/2.1.png" alt="Крупное изображение"></p>
        </div>
        <div class="container_groups3">
            <div class="separator_group3">
                <div class="group3">
                    <img src="/static/lit3d/so/image/3.1.png" alt="Выставка Россия 2.1">
                    <img src="/static/lit3d/so/image/3.2.png" alt="Выставка Россия 2.2">
                </div>
                <div class="group3">
                    <img src="/static/lit3d/so/image/3.3.png" alt="Выставка Россия 2.3">
                    <img src="/static/lit3d/so/image/3.4.png" alt="Выставка Россия 2.4">
                </div>    
            </div>
        </div>
        <div class="large_group">
            <img src="/static/lit3d/so/image/4.png" alt="Крупное изображение2"> 
        </div>
        <div class="content_centre">
            <div class="separator">
                <div class="left">
                    <div class="kt_left">
                        <div class="text">
                            <div class="title">
                                Кинетический стол
                            </div>
                            <div class="description">
                                Центральным элементом павильона является уникальный кинетический стол ручной работы с авторской механикой внутри. При нажатии на кнопки, из поверхности стола выдвигаются модели знаковых архитектурных и природных достопримечательностей области
                            </div>
                        </div>
                        <img src="/static/lit3d/so/image/5.1.png" alt="Кинетический стол 1">
                        <img src="/static/lit3d/so/image/5.2.png" alt="Кинетический стол 2">
                    </div>
                    <div class="holo_left">
                        <div class="text_block_left">
                            <div class="holo_left_text">
                                <div class="title">
                                    Головентиляторы
                                </div>
                                <div class="description">
                                    Необычным элементом нашего кинетического стола стала идея о будущем. Ведь в Екатеринбурге существуют не только реализованные проекты, но и те, которые еще только будут построены в ближайшие годы. Нужно было найти способ эффектно показать эти перспективные проекты.                            </div>
                            </div>
                        </div>
                        <img src="/static/lit3d/so/image/6.1.png" alt="Головентиляторы 1">
                        <img src="/static/lit3d/so/image/6.2.png" alt="Головентиляторы 2">
                        <img src="/static/lit3d/so/image/6.3.png" alt="Головентиляторы 3">
                    </div>
                </div>
                

                <div class="right">
                    <div class="kt_right">
                        <img src="/static/lit3d/so/image/5.3.png" alt="Кинетический стол 3">
                    </div>
                    <div class="holo_right">
                        <img src="/static/lit3d/so/image/6.4.png" alt="Головентиляторы 3">
                        <div class="text_block">
                            <div class="text_Holo">
                                <div class="description">
                                    Во многом будущее ассоциируется с инновационными технологиями, голограммами, футуристическими интерфейсами и прочими новшествами. Именно поэтому мы решили установить небольшие головентиляторы, которые демонстрируют нам эскизы и проекты, которые воплотятся в реальность на Урале.
                                </div>
                            </div>
                        </div>
                        <img src="/static/lit3d/so/image/6.5.png" alt="Головентиляторы 3">
                    </div>
                </div>
            </div>
        </div>
            <div class="large_group">
                <img src="/static/lit3d/so/image/6.6.png" alt="Крупное изображение2"> 
            </div>
            <div class="content_centre">
                <div class="separator">
                    <div class="left_LED">
                        <img src="/static/lit3d/so/image/7.1.png" alt="LED 1">
                    </div>
                    <div class="right_LED">
                        <div class="text_block">
                            <div class="text_LED">
                                <div class="title">
                                    LED-куб
                                </div>
                                <div class="description">
                                    Панорамный led-куб, мгновенно транспортирует вас в одну из удивительных локаций Свердловской области. Здесь вы окунетесь в живописные панорамы города, словно став частью ежедневной жизни екатеринбуржцев. За кадром вас сопровождает короткий рассказ о месте, в которое вы виртуально погружаетесь.
                                </div>
                            </div>
                        </div>
                        <img src="/static/lit3d/so/image/7.2.png" alt="LED 2">
                    </div>
                </div>
            </div>
            <div class="content_centre">
                <div class="separator">
                    <div class="left_domna">
                        <div class="text_block_left">
                            <div class="text_domna">
                                <div class="title">
                                    Домна
                                </div>
                                <div class="description">
                                    Здесь представлена домна, внешне схожая с теми, 
                                    что использовались на Демидовских заводах. Внутри 
                                    домнной трубы с помощью проджекшн меппинга 
                                    демонстрируется ролик, изображающий расплавленный 
                                    металл, из которого выступают известные мировые 
                                    здания, изготовленные из уральского металла, например, 
                                    Эйфелева башня. Сверху над входом изображена 
                                    схематическая конструкция домны                            </div>
                            </div>
                        </div>
                        <img src="/static/lit3d/so/image/8.1.png" alt="Домна 1">
                    </div>
                    <div class="right_domna">
                        <img src="/static/lit3d/so/image/8.2.png" alt="Домна 2">
                    </div>
                </div>
            </div>
            <div class="content_centre">
                <div class="separator">
                    <img class="d_545" src="/static/lit3d/so/image/9.1.png" alt="Домна 3">
                    <img class="d_520" src="/static/lit3d/so/image/9.2.png" alt="Домна 4">
                    <img class="d_545" src="/static/lit3d/so/image/9.3.png" alt="Домна 5">
                </div>
            </div>
            <div class="large_group">
                <img src="/static/lit3d/so/image/10.png" alt="Крупное изображение3"> 
            </div>
            <div class="content_centre">
                <div class="separator_column">
                    <div class="stroke">
                        <img class="d_970" src="/static/lit3d/so/image/11.1.png" alt="Домна 5">
                        <img class="d_720" src="/static/lit3d/so/image/11.2.png" alt="Домна 6">
                    </div>
                </div>
            </div>
            <div class="content_centre">
                <div class="separator_column end">
                    <div class="stroke">
                        <img class="d_720" src="/static/lit3d/so/image/12.1.png" alt="Домна 7">
                        <img class="d_970" src="/static/lit3d/so/image/12.2.png" alt="Домна 8">
                </div>
            </div>
        </div>
    </div>
</body>
</html>